{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Answer Question</title>
    <link rel="stylesheet" href="{% static 'answer_question.css' %}" />
  </head>
  <body>
    <div class="question">
      <h2>{{ question.title }}</h2>
      <p>{{ question.content }}</p>
    </div>

    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'answer_question.js' %}"></script>
  </body>
</html>
